.modern {
  .storyplate-top-banner {
    position: absolute;
    margin-top: 3px;
    top: 100%;
    z-index: 1;
  }
}

.storyplate-top-banner {
  display: flex;
  align-items: center;
  transition: height 0.2s, padding 0.2s;
  z-index: 5;
  height: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 59px;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: $screen-xs-max) {
    background-size: auto 100%;
    top: 44px;

    .banner-logo {
      display: none;
    }
  }

  &.show-banner {
    height: 60px !important;
    @media screen and (max-width: $screen-xs-max) {
      height: 40px !important;
    }
  }
  .banner-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #{$banner_color};
  }
  .banner-logo {
    display: none;
    @media screen and (max-width: $screen-xs-max) {
      display: none;
    }
  }

  .cta-watch {
    padding-top: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    text-align: center;

    @media screen and (max-width: $screen-xs-max) {
      text-align: right;
      padding-top: 0;
      margin-top: 0;
      height: 100%;
    }

    div {
      display: inline;

      @media screen and (max-width: $screen-xs-max) {
        display: -webkit-flex;
        display: flex;
        height: 100%;
        width: 100%;
      }
    }

    h3 {
      color: $banner_title_color;
      position: relative;
      font-size: 1.2em;
      z-index: 10;
      text-align: center;
      display: inline-block;
      font-weight: 400;
      margin-right: 20px;
      letter-spacing: 0.1em;
      vertical-align: top;
      line-height: 1;
      @media screen and (max-width: $screen-md-max) {
        font-size: 1em;
      }

      @media screen and (max-width: $screen-xs-max) {
        -webkit-align-self: center;
        align-self: center;
        font-size: 15px;
        width: 70%;
        margin-left: 20px;
        margin-right: 0;
      }

      @media screen and (max-width: 550px) {
        font-size: 0.6em;
        line-height: 1.3em;
        font-weight: 500;
        width: 50%;
      }

      span {
        display: none;
      }
    }
    .cta {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 500;
      padding: 0 1em;
      font-size: 0.8em;
      cursor: pointer;
      position: relative;
      border-top: 12px solid #{$banner_cta_color};
      border-bottom: 12px solid #{$banner_cta_color};
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      display: inline-block;
      line-height: 0;
      top: 0;
      color: $banner_cta_text_color;
      margin-top: -3px;

      &:hover {
        text-decoration: none;
      }

      span {
        position: relative;
        line-height: 0;
        top: 0.1em;
      }

      @media screen and (max-width: $screen-xs-max) {
        position: absolute;
        bottom: 8px;
        top: auto;
        right: 1em;
        margin: 0;
        font-size: 0.6em;
        vertical-align: bottom;
      }
    }
  }
}

div.storyplate-text-banner {
  .cta-watch {
    height: 100%;
    padding-top: 0;
    margin-top: 0;

    div {
      display: -webkit-flex;
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    h3 {
      margin: 0.2em 0.3em 0 0.5em;
      font-size: 1em;
    }

    img {
      display: #{$banner_logo}
      height: 1.5em;
      position: relative;
    }
  }

  .icon-ui-rightarrow {
    position: relative;
    line-height: 0;
    vertical-align: middle;
    font-size: 1.8em;
    color: $banner_title_color;
  }

  @media screen and (max-width: $screen-xs-max) {
    img {
      display: none;
    }

    .cta-watch {
      div {
        justify-content: center;
      }

      h3 {
        width: auto;
        font-size: 0.9em;
        margin: 0.2em 0.3em 0 0;
      }

      .icon-ui-rightarrow {
        align-self: center;
      }
    }
  }
}
